body {
	background-color:#FFC5BE;
	font-size: 1.2em;
}

	a:link, a:visited {
		color: #6232FF; 
		text-decoration: none;}
	
	a:hover {
		color: red; 
		text-decoration: underline; 
	}


/*left justify text on the centered wrap div */
.resume {
	text-align: left;
	font-size: 1.0em;
	border: 1px solid black;
	padding: 20px;
	
}

/* Div formatting for pictures */
.pictures {
	border: solid 1px black; 
	background: white; 
	color: black;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
}

#navlist li{
	display: block;
	font-weight: bold;
	text-align: left;
	padding: 10px;
}

h2 {
	font-variant: small-caps;
	text-decoration: underline ;
}

h1 {
	font-variant: small-caps;
	text-decoration: underline;
}

.main {
	width: 100%;
	float: left;
	padding: 5px;
	border: 1px solid black ;
}

img {
	width: 100%;
	height: 20%;
	
}

